{% extends "::layout/layout.html.twig" %}

{% block title %}{{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include '::modulesUsed/navigation.html.twig' %}
                {{ render(controller('EcommerceBundle:Panier:menu')) }}
            </div>
            <div class="col-md-9">
                <div id="thumb-presentation" class="thumbnail">
                        <img class="img-responsive" src="{{ asset('uploads/' ~ produit.image.path ) }}" alt="bonbon" width="800" height="300">

                    <div class="caption-full">
                        <h4 class="pull-right">{{ produit.prix|tva(produit.tva.multiplicate) }} €</h4>
                        <h4>{{ produit.nom }}</h4>
                        <h5>{{ produit.categorie.nom}}</h5>
                        <p>{{ produit.description }}</p>

                        {% if panier[produit.id] is not defined %}
                        <form action="{{ path ('ajouter', {'id' : produit.id }) }}"method="get">
                            <select name="qte" class="span1">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                <button id="btn-panier" class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </form>
                        {% else %}
                            <a href="{{ path('panier') }}" class="btn btn-primary">Le produit est déjà dans votre panier</a>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
