<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Haribo c'est beau la vie !{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/shop-homepage.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{ path('produits') }}"><img src="{{ asset('img/logoNormal.png') }}"></a>

    </div>
</div>
{% block body %}{% endblock %}


<footer id="footer">

    <div id="footer-baner" class="col-lg-12 col-md-18 col-sm-12  " >
        <div class="col-lg-3 col-md-2 col-sm-2  ">
            <img src="{{ asset('img/paiement-securise.png') }}">
        </div>
        <div class="col-lg-3 col-md-2 col-sm-2  ">
            <img src="{{ asset('img/livraison-offerte.png') }}">
        </div>

        <div class="col-lg-3 col-md-2 col-sm-2 ">
            <img src="{{ asset('img/i-love-haribo.png') }}">
        </div>
    </div>
    <br/>
    <div id="infos" class="span12 offset1">

        <div id="cgv" class="span3  ">
            <h4>Informations</h4>
            <ul class="list-unstyled">
                {{ render(controller('PagesBundle:Pages:menu')) }}

            </ul>
        </div>

        <div id="mag" class="span3 offset1">
            <h4>Notre magasin</h4>
            <p><i class="icon-map-marker"></i>&nbsp;{{ adresse }}</p>
        </div>

        <div id="contact" class="span3 offset1">
            <h4>Nous contacter</h4>
            <p><i class="icon-phone-sign"></i> {{ telephone }}</p>
            <p><i class="icon-print"></i>&nbsp;{{ fax }}</p>
        </div>
    </div>
    <div class="bot span12">
        <p>HARIBO C'EST BEAU LA VIE, POUR LES GRANDS ET LES PETITS</p>
    </div>
    <div class="row">

        <div class="span12 offset1">
            <p class="copyright">&copy; Copyright {{ "now"|date('Y') }} - Devart64</p>
        </div>
    </div>


</footer>

<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ absolute_url('https://js.stripe.com/v2/') }}"></script>
<script src="{{ asset ('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
